<form class="flexcol">

  <section class="content">
    <h3 class="form-header">Core Effects</h3>

    <div class="form-group">
      <label>Damage Effect</label>
      <div class="form-fields">
        <input type="text" name="jb2aDamage" value="{{damage}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aDamage">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>Healing Effect</label>
      <div class="form-fields">
        <input type="text" name="jb2aHeal" value="{{heal}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aHeal">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>
  </section>

  <section class="content">
    <h3 class="form-header">Condition Effects</h3>

    <div class="form-group">
      <label>Blinded</label>
      <div class="form-fields">
        <input type="text" name="jb2aBlinded" value="{{blinded}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aBlinded">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>Poisoned</label>
      <div class="form-fields">
        <input type="text" name="jb2aPoisoned" value="{{poisoned}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aPoisoned">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>Stunned</label>
      <div class="form-fields">
        <input type="text" name="jb2aStunned" value="{{stunned}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aStunned">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>Unconscious</label>
      <div class="form-fields">
        <input type="text" name="jb2aUnconscious" value="{{unconscious}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aUnconscious">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>Frightened</label>
      <div class="form-fields">
        <input type="text" name="jb2aFrightened" value="{{frightened}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aFrightened">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>Restrained</label>
      <div class="form-fields">
        <input type="text" name="jb2aRestrained" value="{{restrained}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aRestrained">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>Prone</label>
      <div class="form-fields">
        <input type="text" name="jb2aProne" value="{{prone}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aProne">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>Charmed</label>
      <div class="form-fields">
        <input type="text" name="jb2aCharmed" value="{{charmed}}" data-dtype="String"/>
        <button type="button" class="file-picker" data-type="video" data-target="jb2aCharmed">
          <i class="fas fa-folder-open"></i>
        </button>
      </div>
    </div>
  </section>

  <footer class="sheet-footer flexrow">
    <button type="submit"><i class="fas fa-save"></i> Save</button>
  </footer>
</form>
